<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기숙사 노래 추천 v1.0.0</title>
  <link rel="stylesheet" href="/templates/style.css">
  <script src="templates/script.js"></script>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1><a hre="#">SSM</a></h1>
      <div class="nav">
        <ul>
          <li><a href="#">|</a></li>
          <li><button><a href="#">Login</a></button></li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h1 id="title">PLAYLIST</h1>
      <ul id="playlist"></ul>
    </div>
    <div id="input">
      <input type="text" id="linkInput" placeholder="유튜브 링크 입력" onkeypress="postLink(event)">
    </div>
  </div>
</body>
</html>