<!DOCTYPE html>
<html>
<head>
    <title>문자열 전송 페이지</title>
</head>
<body>
    <form id="myForm">
        <label for="myInput">문자열을 입력하세요:</label><br>
        <input type="text" id="myInput" name="myInput"><br>
        <input type="submit" value="전송">
    </form>
    <button id="getData">데이터 가져오기</button>

    <script>
        var playList = null;

        document.getElementById('myForm').addEventListener('submit', function(e) {
            e.preventDefault(); // 폼의 기본 제출 동작을 방지합니다.

            var inputValue = document.getElementById('myInput').value; // 입력 값을 가져옵니다.

            // 여기에서 서버로 데이터를 전송하는 코드를 작성합니다.
            fetch('/main', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({url: inputValue}),
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => console.error('Error:', error));
        });
        
        
        document.getElementById('getData').addEventListener('click', function(e) {
            // 여기에서 서버로부터 데이터를 가져오는 코드를 작성합니다.
            fetch('/main/data', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.data);
                playList = data.data
            })
            .catch((error) => console.error('Error:', error));
        });
    </script>
</body>
</html>
